.footer {
  padding-top: 36px;
  padding-bottom: 27.43px;
  &__nav {
    @include breakpoint-md() {
      margin-bottom: 24px;
    }
  }
  &__main a {
    color: white;
    text-decoration: none;
  }
  &__main li {
    margin-right: 48px;
    &:last-child {
      margin-left: 0;
    }
    @include breakpoint-md() {
      margin-right: 40px;
    }
  }
  &__community li {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint-md() {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  &__contactTel {
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      margin-left: 23px;
    }
  }
  &__contactEmail{
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      margin-left: 12px;
    }
  }
  &__hr {
    border: 1px solid #FFFFFF;
  }
  &__copyList img{
    margin-right: 38px;
  }
  &__private li {
    margin-right: 62px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint-md() {
      margin-right: 24px;
    }
  }
  &__private a {
    text-decoration: none;
    color: $white;
  }
}