.header__index {
  background-image: url('../images/banner.png');
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__qa {
  background-image: url('../images/banner2.png');
  padding-top: 214px;
  &__h2{
    margin-right: 10.1px;
    line-height: 80px;
  }
}