.qaMain {
  margin-top: 88px;
  margin-bottom: 156px;
  &__accordion__header {
    border: 1px solid #000000;
  }
  &__accordion__header a {
    text-decoration: none;
    color: #000000;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 38px;
  }
  &__accordion__body {
    border-top: 0px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #F2F2F2;
    height: 116px;
    line-height: 24px;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    padding-left: 38px;
  }
  &__accordion__header i {
    margin-right: 39.75px;
  }
}
