.recommend {
  margin-top: -271px;
}

.recommend__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    width: 282px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0px;
    }
    @include breakpoint-md() {
      width: 324px;
      margin-top: 24px;
    }
  }
  li:nth-child(even){
    @include breakpoint-md() {
      margin-left: 12px;
      margin-right: 0px;
    }
  }
  li:nth-child(odd){
    @include breakpoint-md() {
      margin-left: 0px;
      margin-right: 12px;
    }
  }
}

.card {
  border: 1px solid #DEE2E6;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  margin-top: -67px;
  &__header {
    padding-right: -16px;
    padding-bottom: -16px;
  }
  &__content {
    padding-top: 83px;
    line-height: 24px;
  }
  &__content h6{
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  &__footer{
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
  }
}