@mixin d-flex() {
  display: flex;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin breakpoint-md() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin breakpoint-sm() {
  @media (max-width: 374px) {
    @content;
  }
}