.bg-cover {
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint-md() {
    max-width: 672px;
  }
  @include breakpoint-sm() {
    max-width: 352px;
  }
}

.d-md-none {
  @include breakpoint-md() {
    display: none;
  }
}

.text-center {
  text-align: center;
}