footer.footer.bg-primary
  .container
    .footer__nav.d-flex.justify-content-between
      ul.footer__main.d-flex.d-flex-center
        li
          a(href="/") 首頁
        li
          a(href="#") 系列鏡框
        li
          a(href="#") 門市據點
        li
          a(href="#") 部落格
        li
          a(href="/q&a.html") 常見問題
      ul.footer__community.d-flex.d-flex-center.mb-32
        li
          a(href="#")
            img(src="./images/icon-fb.svg", alt="", srcset="")
        li
          a(href="#")
            img(src="./images/icon-ig.svg", alt="", srcset="")
        li
          a(href="#")
            img(src="./images/icon-line.svg", alt="", srcset="")
    .footer__contact.fs-36
      .footer__contactTel.mb-16
        img(src="./images/icon-phone.svg", alt="", srcset="")
        a(href="tel:+0800000000") 0800-000-000
      .footer__contactEmail
        img(src="./images/icon-mail.svg", alt="", srcset="")
        a(href="mailto:glasses@business.com") glasses@business.com
    hr.footer__hr.mb-24
    .footer__copy.d-flex.justify-content-between.text-white
      ul.footer__copyList.d-flex.align-items-center
        li
          img(src="./images/logo.png", alt="")
        li
          p Copyright © 2020 Glasses.All rights reserved.
      ul.footer__private.d-flex.align-items-center
        li
          a(href="#") 隱私權政策
        li
          a(href="#") 服務條款