nav.bg-primary
  .navbar.d-flex.align-items-center.justify-content-between
    a(href="/")
      h1.logo
        | Glasses
    ul.navbar__list.d-flex.fs-20
      li 
        a(href="#") 系列鏡框
      li 
        a(href="#") 門市據點
      li 
        a(href="#") 部落格
      li
        a(href="/q&a.html") 常見問題